#main {
    width: 100%;
    margin: auto;
    margin-top: 120px;
}

#left-nav {
    width: 5%;
    position: fixed;
    float:left;
    height: 100%;
    background-color: #b8bdc4;
}

#right-nav {
    z-index: 999;
    right: 0;
    width: 5%;
    position: fixed;
    float: left;
    height: 100%;
    background-color: #b8bdc4;
}


#left-nav:hover, #right-nav:hover{
    background-color: #d7dae0;
}



body {
    background: #f0f0f0;
    margin-bottom: 70px;
    /*width: 80%;
    margin: 0 auto;*/
}

h1 {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 60px;
}

h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    font-family: sans-serif;
}

code {
    font-family:Courier New;
}

img {
    margin-bottom: 50px;
}

li {
    font-size: 18px;
    margin-bottom: 15px;
}

pre {
    font-size: 14px;
    font-family:DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
}

.highlight a {
    color: inherit;
    text-decoration: inherit;
}

.highlight a:hover {
    cursor: auto;
}

.cl {
    margin: 38px;
    padding-left: 88px;
    padding-right: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #f8f8f8;
    font-family:DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 12px;
    white-space: normal;
  }

.fake-url {
    color: blue;
}

.one-line {
    white-space:nowrap;
    overflow:hidden;

}
