<head>
    <link rel="stylesheet" type="text/css" href="src/main.css"/>
    <link rel="stylesheet" type="text/css" href="src/pygments.css"/>
</head>

<body>
    <div id="main">
        <h1>Django Models</h1>
        <p>Models are Django's way of abstracting the database for you. Regardless of which database you choose, Django will generate your schema from your models.</p>
        <p> Let's put our first model in <code>eat_it/menu/models.py</code>:</p>

        <div class="pygments"><pre><span></span>
        <a href="http://python-future.org/unicode_literals.html" target="_blank"><span class="kn">from</span> <span class="nn">__future__</span> <span class="kn">import</span> <span class="n">unicode_literals</span></a>

        <span class="kn">from</span> <span class="nn">django.db</span> <span class="kn">import</span> <span class="n">models</span>

        <span class="k">class</span> <span class="nc">FoodItem</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/_modules/django/db/models/base/" target="_blank"><span class="n">models</span><span class="o">.</span><span class="n">Model</span></a><span class="p">):</span>
            <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.CharField.max_length" target="_blank"><span class="n">max_length</span><span class="o">=</span><span class="mi">255</span></a><span class="p">)</span>
            <span class="n">cost</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.max_digits" target="_blank"><span class="n">max_digits</span><span class="o">=</span><span class="mi">5</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.decimal_places" target="_blank"><span class="n">decimal_places</span><span class="o">=</span><span class="mi">2</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#null" target="_blank"><span class="n">null</span><span class="o">=</span><span class="bp">True</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#blank" target="_blank"><span class="n">blank</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
            <span class="n">description</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#default" target="_blank"><span class="n">default</span><span class="o">=</span><span class="s2">&quot;No description available&quot;</span></a><span class="p">)</span>
            <span class="n">created_at</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/topics/db/models/#verbose-field-names" target="_blank"><span class="s2">&quot;Creation Date&quot;</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DateField.auto_now_add" target="_blank"><span class="n">auto_now_add</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
        </pre></div>

        <p>
            This model declares the constraints on data regarding "FoodItems".
            Django will make a table from this model, with 3 fields: "name", "cost", and "description".

        </p>

        <p>
            Django will <a href="https://docs.djangoproject.com/en/1.10/ref/models/options/#table-names" target="_blank"> name the table</a>
            by combining the app that contains the model, and the model name. For this app, "menu", our model creates a table named <code>menu_fooditem</code>.
        </p>

        <p>
            We can name our table anything we want however, using the Meta option <code>db_table</code>. It would look like:
        </p>

        <div class="pygments"><pre><span></span>

        <span class="k">class</span> <span class="nc">FoodItem</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/_modules/django/db/models/base/" target="_blank"><span class="n">models</span><span class="o">.</span><span class="n">Model</span></a><span class="p">):</span>
            <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.CharField.max_length" target="_blank"><span class="n">max_length</span><span class="o">=</span><span class="mi">255</span></a><span class="p">)</span>
            <span class="n">cost</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.max_digits" target="_blank"><span class="n">max_digits</span><span class="o">=</span><span class="mi">5</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.decimal_places" target="_blank"><span class="n">decimal_places</span><span class="o">=</span><span class="mi">2</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#null" target="_blank"><span class="n">null</span><span class="o">=</span><span class="bp">True</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#blank" target="_blank"><span class="n">blank</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
            <span class="n">description</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#default" target="_blank"><span class="n">default</span><span class="o">=</span><span class="s2">&quot;No description available&quot;</span></a><span class="p">)</span>
            <span class="n">created_at</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/topics/db/models/#verbose-field-names" target="_blank"><span class="s2">&quot;Creation Date&quot;</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DateField.auto_now_add" target="_blank"><span class="n">auto_now_add</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>

            <a href="https://docs.djangoproject.com/en/1.10/topics/db/models/#meta-options" target="_blank"><span class="k">class</span> <span class="nc">Meta</span><span class="p">:</span></a>
                <a href="https://docs.djangoproject.com/en/1.10/ref/models/options/#db-table" target="_blank"><span class="n">db_table</span> <span class="o">=</span> <span class="s1">&#39;food&#39;</span></a>
        </pre></div>

        <p>
            Python <a href="http://stackoverflow.com/questions/100003/what-is-a-metaclass-in-python" target="_blank">Meta classes</a> define how a class behaves, similar to how classes define how instances behave.
        </p>

        <p>
            Since class attributes of models in Django (like our <code>name</code>, <code>cost</code>, etc.) are assumed to be fields, we put special options in the Meta class.
        </p>

        <h2>Fields</h2>
        <p>In a Django field, processing and validation happen before the database gets hit.
            <a href="http://stackoverflow.com/questions/32720706/django-model-field-for-postgresql-numeric-data-type" target="_blank">
                Fields will usually map closely
            </a> to types in your database, but they can be extremely custom as well- packages exist for phone number fields.
        </p>

        <p>
            For our first field, <code>name</code>, we are requiring strings with a maximum length of 255. <code>CharField</code> always requires a max length. The normal max length is 255,
            as that is MySQL's max length for string fields.
        </p>

        <div class="pygments"><pre><span></span>
        <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">255</span><span class="p">)</span>
        </pre></div>

        <p>
            In the <code>cost</code> field, we allow floats from 0.00 to 999.99. Null and blank are special arguments, that determine if the field is required.
        </p>

        <p>
            If <code>null</code> is <code>True</code>, the <code>cost</code> field won't be required in the database. If <code>blank</code> is <code>True</code>, this field won't be required in any HTML form.
        </p>


        <div class="pygments"><pre><span></span>
        <span class="n">cost</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">(</span><span class="n">max_digits</span><span class="o">=</span><span class="mi">5</span><span class="p">,</span> <span class="n">decimal_places</span><span class="o">=</span><span class="mi">2</span><span class="p">,</span> <span class="n">null</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span> <span class="n">blank</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
        </pre></div>

        <p>
            The <code>description</code> field allows strings of any size. Use a <code>TextField</code> for potentially large text, like comments.
        </p>

        <div class="pygments"><pre><span></span>
        <span class="n">description</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">(</span><span class="n">default</span><span class="o">=</span><span class="s2">&quot;No description available&quot;</span><span class="p">)</span>
        </pre></div>

        <p>
            Django also allows dates and datetimes to be recorded. The <code>auto_now_add</code> argument will give a <code>created_at</code> timestamp when the object is first saved.
        </p>

        <p>
            The "Creation Date" argument determines a human-readable name for forms, the admin panel, and the like. If we didn't give this argument, the field name
            would be "created at", which would not be that helpful for users.
        </p>

        <div class="pygments"><pre><span></span>
        <span class="n">created_at</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><span class="s2">&quot;Creation Date&quot;</span><span class="p">,</span> <span class="n">auto_now_add</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
        </pre></div>

        <p>
            Django will automatically give each model the standard auto-incrementing primary key, like 1, 2, 3, etc. Thus, our model behaves like this:
        </p>

        <div class="pygments"><pre><span></span>
        <span class="k">class</span> <span class="nc">FoodItem</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/_modules/django/db/models/base/" target="_blank"><span class="n">models</span><span class="o">.</span><span class="n">Model</span></a><span class="p">):</span>
            <span class="nb">id</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">AutoField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.Field.primary_key" target="_blank"><span class="n">primary_key</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
            <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.CharField.max_length" target="_blank"><span class="n">max_length</span><span class="o">=</span><span class="mi">255</span></a><span class="p">)</span>
            <span class="n">cost</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.max_digits" target="_blank"><span class="n">max_digits</span><span class="o">=</span><span class="mi">5</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.decimal_places" target="_blank"><span class="n">decimal_places</span><span class="o">=</span><span class="mi">2</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#null" target="_blank"><span class="n">null</span><span class="o">=</span><span class="bp">True</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#blank" target="_blank"><span class="n">blank</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
            <span class="n">description</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#default" target="_blank"><span class="n">default</span><span class="o">=</span><span class="s2">&quot;No description available&quot;</span></a><span class="p">)</span>
            <span class="n">created_at</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/topics/db/models/#verbose-field-names" target="_blank"><span class="s2">&quot;Creation Date&quot;</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DateField.auto_now_add" target="_blank"><span class="n">auto_now_add</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
        </pre></div>

        <p>
            If you want to make a different field the primary key, just specify <code>primary_key = True</code>.
        </p>

        <p>
            Fields can also act as a multiple-choice by using the <code>choices</code> option. Change your code to the following:
        </p>

        <div class="pygments"><pre><span></span>
        <span class="o">...</span>

        <span class="n">CATEGORY_CHOICES</span> <span class="o">=</span> <span class="p">[</span>
            <span class="p">(</span><span class="s1">&#39;burrito&#39;</span><span class="p">,</span> <span class="s1">&#39;Burrito&#39;</span><span class="p">),</span>
            <span class="p">(</span><span class="s1">&#39;taco&#39;</span><span class="p">,</span> <span class="s1">&#39;Taco&#39;</span><span class="p">),</span>
            <span class="p">(</span><span class="s1">&#39;quesadilla&#39;</span><span class="p">,</span> <span class="s1">&#39;Quesadilla&#39;</span><span class="p">),</span>
        <span class="p">]</span>

        <span class="k">class</span> <span class="nc">FoodItem</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/_modules/django/db/models/base/" target="_blank"><span class="n">models</span><span class="o">.</span><span class="n">Model</span></a><span class="p">):</span>
            <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.CharField.max_length" target="_blank"><span class="n">max_length</span><span class="o">=</span><span class="mi">255</span></a><span class="p">)</span>
            <span class="n">cost</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.max_digits" target="_blank"><span class="n">max_digits</span><span class="o">=</span><span class="mi">5</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DecimalField.decimal_places" target="_blank"><span class="n">decimal_places</span><span class="o">=</span><span class="mi">2</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#null" target="_blank"><span class="n">null</span><span class="o">=</span><span class="bp">True</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#blank" target="_blank"><span class="n">blank</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
            <span class="n">description</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#default" target="_blank"><span class="n">default</span><span class="o">=</span><span class="s2">&quot;No description available&quot;</span></a><span class="p">)</span>
            <span class="n">category</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">50</span><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#choices" target="_blank"> <span class="n">choices</span><span class="o">=</span><span class="n">CATEGORY_CHOICES</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#null" target="_blank"><span class="n">null</span><span class="o">=</span><span class="bp">True</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#blank" target="_blank"><span class="n">blank</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>
            <span class="n">created_at</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><a href="https://docs.djangoproject.com/en/1.10/topics/db/models/#verbose-field-names" target="_blank"><span class="s2">&quot;Creation Date&quot;</span></a><span class="p">,</span> <a href="https://docs.djangoproject.com/en/1.10/ref/models/fields/#django.db.models.DateField.auto_now_add" target="_blank"><span class="n">auto_now_add</span><span class="o">=</span><span class="bp">True</span></a><span class="p">)</span>

        </pre></div>

        <p>
            Now if this model was made into a form, the <code>category</code> field will be rendered as a <code>select</code> dropdown with the visible options being "Burrito", "Taco", and "Quesadilla",
            and the actual data sent to the server being either "burrito", "taco", or "quesadilla" depending on what is picked:
        </p>

        <div class="pygments"><pre><span></span>
        <span class="o">&lt;</span><span class="n">select</span><span class="o">&gt;</span>
          <span class="o">&lt;</span><span class="n">option</span> <span class="n">value</span><span class="o">=</span><span class="s2">&quot;burrito&quot;</span><span class="o">&gt;</span><span class="n">Burrito</span><span class="o">&lt;/</span><span class="n">option</span><span class="o">&gt;</span>
          <span class="o">&lt;</span><span class="n">option</span> <span class="n">value</span><span class="o">=</span><span class="s2">&quot;taco&quot;</span><span class="o">&gt;</span><span class="n">Taco</span><span class="o">&lt;/</span><span class="n">option</span><span class="o">&gt;</span>
          <span class="o">&lt;</span><span class="n">option</span> <span class="n">value</span><span class="o">=</span><span class="s2">&quot;quesadilla&quot;</span><span class="o">&gt;</span><span class="n">Quesadilla</span><span class="o">&lt;/</span><span class="n">option</span><span class="o">&gt;</span>
        <span class="o">&lt;/</span><span class="n">select</span><span class="o">&gt;</span>
        </pre></div>

        <h2>Migrations</h2>

        <p>
            Models give Django a template to update the database, but they don't do anything on their own. When you've finished defining a model, you must run <code>makemigrations</code>
            to create a migration file that describes how to update your database schema:
        </p>

        <div class="pygments"><pre><span></span>
        $ python&nbsp;manage.py&nbsp;makemigrations
        </pre></div>

        <p>
            When you run <code>makemigrations</code> Django creates a migration file with a number and a name in the <code>migrations</code> folder for that app. The first one will be <code>0001_initial.py</code>:
        </p>

        <div class="pygments"><pre><span></span>
        <span class="c1"># -*- coding: utf-8 -*-</span>
        <span class="c1"># Generated by Django 1.10.2 on 2016-11-19 20:10</span>
        <span class="kn">from</span> <span class="nn">__future__</span> <span class="kn">import</span> <span class="n">unicode_literals</span>

        <span class="kn">from</span> <span class="nn">django.db</span> <span class="kn">import</span> <span class="n">migrations</span><span class="p">,</span> <span class="n">models</span>


        <span class="k">class</span> <span class="nc">Migration</span><span class="p">(</span><span class="n">migrations</span><span class="o">.</span><span class="n">Migration</span><span class="p">):</span>

            <span class="n">initial</span> <span class="o">=</span> <span class="bp">True</span>

            <span class="n">dependencies</span> <span class="o">=</span> <span class="p">[</span>
            <span class="p">]</span>

            <span class="n">operations</span> <span class="o">=</span> <span class="p">[</span>
                <span class="n">migrations</span><span class="o">.</span><span class="n">CreateModel</span><span class="p">(</span>
                    <span class="n">name</span><span class="o">=</span><span class="s1">&#39;FoodItem&#39;</span><span class="p">,</span>
                    <span class="n">fields</span><span class="o">=</span><span class="p">[</span>
                        <span class="p">(</span><span class="s1">&#39;id&#39;</span><span class="p">,</span> <span class="n">models</span><span class="o">.</span><span class="n">AutoField</span><span class="p">(</span><span class="n">auto_created</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span> <span class="n">primary_key</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span> <span class="n">serialize</span><span class="o">=</span><span class="bp">False</span><span class="p">,</span> <span class="n">verbose_name</span><span class="o">=</span><span class="s1">&#39;ID&#39;</span><span class="p">)),</span>
                        <span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">255</span><span class="p">)),</span>
                        <span class="p">(</span><span class="s1">&#39;cost&#39;</span><span class="p">,</span> <span class="n">models</span><span class="o">.</span><span class="n">DecimalField</span><span class="p">(</span><span class="n">blank</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span> <span class="n">decimal_places</span><span class="o">=</span><span class="mi">2</span><span class="p">,</span> <span class="n">max_digits</span><span class="o">=</span><span class="mi">5</span><span class="p">,</span> <span class="n">null</span><span class="o">=</span><span class="bp">True</span><span class="p">)),</span>
                        <span class="p">(</span><span class="s1">&#39;description&#39;</span><span class="p">,</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">(</span><span class="n">default</span><span class="o">=</span><span class="s1">&#39;No description provided&#39;</span><span class="p">)),</span>
                        <span class="p">(</span><span class="s1">&#39;category&#39;</span><span class="p">,</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">blank</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span>
                            <span class="n">choices</span><span class="o">=</span><span class="p">[(</span><span class="s1">&#39;burrito&#39;</span><span class="p">,</span> <span class="s1">&#39;Burrito&#39;</span><span class="p">),</span> <span class="p">(</span><span class="s1">&#39;taco&#39;</span><span class="p">,</span> <span class="s1">&#39;Taco&#39;</span><span class="p">),</span> <span class="p">(</span><span class="s1">&#39;quesadilla&#39;</span><span class="p">,</span> <span class="s1">&#39;Quesadilla&#39;</span><span class="p">)],</span>
                            <span class="n">max_length</span><span class="o">=</span><span class="mi">50</span><span class="p">,</span> <span class="n">null</span><span class="o">=</span><span class="bp">True</span><span class="p">)),</span>
                        <span class="p">(</span><span class="s1">&#39;created_at&#39;</span><span class="p">,</span> <span class="n">models</span><span class="o">.</span><span class="n">DateTimeField</span><span class="p">(</span><span class="n">auto_now_add</span><span class="o">=</span><span class="bp">True</span><span class="p">,</span> <span class="n">verbose_name</span><span class="o">=</span><span class="s1">&#39;Creation Date&#39;</span><span class="p">)),</span>
                    <span class="p">],</span>
                <span class="p">),</span>
            <span class="p">]</span>
        </pre></div>


        <p>
            We can see the SQL generated by running the Django command <code>sqlmigrate</code> on our first migration in the "menu" app:
        </p>

        <div class="pygments"><pre><span></span>
        $&nbsp;python&nbsp;manage.py&nbsp;sqlmigrate&nbsp;menu&nbsp;0001 <br><br>

        BEGIN;<br>
        --<br>
        -- Create model FoodItem<br>
        --<br>
        CREATE TABLE "menu_fooditem" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, <br>
        &nbsp;&nbsp;"name" varchar(255) NOT NULL, "cost" decimal NULL, "description" text NOT NULL,<br>
        &nbsp;&nbsp;"category" varchar(50) NULL, "created_at" datetime NOT NULL<br>
        );<br>
        COMMIT;
        </pre>
        </div>

        <p>
            Now that your migrations file is made, you must run <code>migrate</code> to apply the migration to the database:
        </p>

        <div class="pygments"><pre><span></span>

        $ ./manage.py migrate<br>
        Operations to perform:
          Apply all migrations: admin, auth, contenttypes, menu, sessions
        Running migrations:
          Applying contenttypes.0001_initial... OK
          Applying auth.0001_initial... OK
          Applying admin.0001_initial... OK
          Applying admin.0002_logentry_remove_auto_add... OK
          Applying contenttypes.0002_remove_content_type_name... OK
          Applying auth.0002_alter_permission_name_max_length... OK
          Applying auth.0003_alter_user_email_max_length... OK
          Applying auth.0004_alter_user_username_opts... OK
          Applying auth.0005_alter_user_last_login_null... OK
          Applying auth.0006_require_contenttypes_0002... OK
          Applying auth.0007_alter_validators_add_error_messages... OK
          Applying auth.0008_alter_user_username_max_length... OK
          Applying menu.0001_initial... OK
          Applying sessions.0001_initial... OK
        </pre></div>

        <p>
            Now we have a model defined, and our database schema matches the format defined by this model. Let's look at the Django Admin next
        </p>
    </div>
</body>
