{% load static %}
<script type='text/javascript' src="{% static "main/js/all.js" %}"></script>

<script type="text/javascript">


/*
        $.ajax({
            method: "GET",
            url: "http://sandbox-homebrewing-com.3dcartstores.com/add_cart.asp?out=1&quick=1&item_id=1",
        });

        $.ajax({
            method: "GET",
            url: "http://sandbox-homebrewing-com.3dcartstores.com/add_cart.asp?out=1&quick=1&item_id=3",
        });
*/

    $(document).ready(function() {
        $.ajax({
          type : 'GET',
          url : 'http://localhost:8000',
          //dataType : 'html',
          data: {
              id : 33
          },
          success : function(data){
              $("#midContent .content").html("testtsss");
              console.log(data);
          },
          error : function(XMLHttpRequest, textStatus, errorThrown) {
              alert("eror occure");
              $('#waiting').hide(500);
              $('#message').removeClass().addClass('error')
              .text('There was an error.').show(500);
              $('#demoForm').show(500);
          }
        });
        $("#midContent .content").html("before ajax");
    });


</script>
