<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static "main/css/site.css" %}" rel="stylesheet">
    <!-- <script type='text/javascript' src="{% static "main/js/all.js" %}"></script> -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script type='text/javascript' src="{% static "main/javascripts/bootstrap.js" %}"></script>
    <script type='text/javascript' src='/static/main/javascripts/knockout.min.js'></script>
    <script type='text/javascript' src='/static/main/javascripts/underscore.min.js'></script>
    <script src="/static/main/javascripts/bootstrap.min.js"></script>
</head>

<body>
    <!-- http://stackoverflow.com/questions/9532595/what-is-the-best-way-to-hide-the-screen-while-knockout-js-bindings-are-being-bui -->
    <div class="container">
        <br>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">My Recipes
                    <button class="pull-right btn btn-success" data-bind="click: $root.reset_form">Create New Recipe
                    </button>
                </div>
                <div class="panel-body">
                    <p>Your recipes are listed below</p>
                    <img data-bind="visible: !$root.recipes_loaded()" src="/static/main/img/loader1.gif"/>
                    <div style="display: none" data-bind="visible: true">
                        <ul class="recipes list-group" data-bind="foreach: recipes">
                            <li class="list-group-item">
                                <a data-bind="click: $root.populate_recipe">
                                    <span data-bind="text: $data.name + '  id: ' + $data.id"></span>
                                </a>
                                <a class="pull-right btn-primary btn" data-bind="click: $root.delete_recipe">Delete
                                    Recipe</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    <div class="well">
        <h2>Recipe ID: <span data-bind="text: id"></span></h2>
        <br/>
        <div class="form-group">
            <label class="label-text">Recipe Name:</label>
            <input type="text" data-bind="value: name" maxlength="250" class="form-control recipeSetupText"/>
        </div>
        <div class="form-group">
            <label class="label-text">Brew Method:</label>
            <select class="form-control" data-bind="options: brew_methods, value: brew_method"></select>
        </div>
        <div class="form-group">
            <label class="label-text">Batch Size:</label>
            <input type="number" data-bind="value: batch_size" style="width: 35px" class=""/> <span
                class="form-inline unit">gallons</span>
        </div>
        <div class="form-group">
            <!-- http://stackoverflow.com/questions/8354975/how-can-i-limit-possible-inputs-in-a-html5-number-element -->
            <label class="label-text">Style:</label>
            <select data-bind="options: styles_data, optionsValue: 'value', optionsText: 'display', value: current_style"></select>
        </div>
        <div class="form-group">
            <label class="label-text" id="boil-time-label">Boil Time:</label>
            <input type="number" data-bind="value: boil_time" style="width: 60px"/> <span class="unit">(minutes)</span>
        </div>

        <!-- <h2>Current price: <span data-bind="text: current_price"></span></h2> -->
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Fermentables</h2></div>
            <div class="panel-body">
                <div class="form-group" data-bind="foreach: fermentables">
                    <select id="fermentable-variety-select" style="width:100%" data-bind="if: true, value: catalog_id">
                        <option value="-"> -</option>
                        <!-- ko foreach: fermentables_options -->
                        <optgroup data-bind="attr: {label: category}">
                            <!-- ko foreach: fermentables -->
                            <option data-bind="value: $data.catalog_id, text: $data.name + ' -- ' + $data.price.toFixed(2)"></option>
                            <!-- /ko -->
                        </optgroup>

                        <!-- /ko -->
                    </select>
                    <label>Milling preference: </label>
                    <select data-bind="options: $root.milling_preferences, value: milling_preference"></select>
                    <button class="btn btn-danger" href="#"
                       data-bind="click: function() { $root.removeItem($data, 'fermentables') }, visible: $root.fermentables.countVisible() > 1">
                        Delete
                    </button>
                    <hr/>
                </div>
                <input class="btn btn-primary" data-bind="click: function() { $root.addItem('fermentables') }" type="button"
                       value="Add Fermentable"/>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="">Yeast</h2></div>
                <div class="panel-body">
                    <div data-bind="foreach: yeasts">
                        <label>Yeast Brand Filter:</label>
                        <select data-bind="options: yeast_categories, value: current_filter" id="yeast-brand-select">
                        </select>
                        <span>Yeast Variety:</span>
                        <select id="yeast-variety-select" style="width:325px" data-bind="if: true, value: catalog_id">
                            <option value="-"> -</option>
                            <!-- ko foreach: yeast_groups_individual -->
                            <optgroup data-bind="attr: {label: category}">
                                <!-- ko foreach: yeasts -->
                                <option data-bind="value: $data.catalog_id, text: $data.name + ' -- ' + $data.price.toFixed(2)"></option>
                                <!-- /ko -->
                            </optgroup>
                            <!-- /ko -->
                        </select>
                        <a href="#"
                           data-bind="click: function() { $root.removeItem($data, 'yeasts') }, visible: $root.yeasts.countVisible() > 1">
                            Delete
                        </a>
                        <br><br>
                    </div>
                    <input class="btn btn-primary" data-bind="click: function() { $root.addItem('yeasts') }" type="button"
                           value="Add Yeast"/>
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="">Hops</h2></div>
            <div class="panel-body">
                <div data-bind='foreach: hops'>
                    <select id="hops-variety-select" class="form-control" data-bind="if: true, value: catalog_id">
                        <option value="-"> -</option>
                        <!-- ko foreach: hops_options -->
                        <optgroup data-bind="attr: {label: category}">
                            <!-- ko foreach: hops -->
                            <option data-bind="value: $data.catalog_id, text: $data.name + ' -- ' + $data.price.toFixed(2)"></option>
                            <!-- /ko -->
                        </optgroup>
                        <!-- /ko -->
                    </select>
                    <label>Amount:</label>
                    <input type="number" data-bind="value: weight" class="form-control" maxlength="6"> oz

                    Time: <input class="form-control" type="text" data-bind="value: minutes">
                    Min.
                    Use: <select class="form-control" data-bind="options: $root.hops_uses, value: use"></select>

                    <button class="btn btn-danger" href="#"
                       data-bind="click: function() { $root.removeItem($data, 'hops') }, visible: $root.hops.countVisible() > 1">
                        Delete
                    </button>
    <hr/>
                </div>

                <input class="form-control btn btn-primary" data-bind="click: function() { $root.addItem('hops') }" type="button"
                       value="Add Hop"/>
            </div>

        <div class="form-group">
            <textarea data-bind="value: notes" id="notes-input" style="width: 300px; height: 150px;" placeholder="Write any extra notes here..." style="resize: both;"></textarea>
        </div>
        <div class="form-group">
            <button class="btn btn-success" data-bind="click: saveRecipeData">Save recipe</button>
            <!-- <button class="btn btn-success" data-bind="click: add_to_cart_test">Save recipe</button> -->
        </div>
    </div>
        <br>
    </div>
    <script type='text/javascript' src="{% static "main/javascripts/app.js" %}"></script>
</body>
</html>
