
<head>
    <!-- a stripped down version to use for adding to cart only -->

    {% load static %}
    <link href="{% static "main/css/site.css" %}" rel="stylesheet">
    <!-- <script type='text/javascript' src="{% static "main/js/all.js" %}"></script> -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.1/knockout-min.js"></script>
    <script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type='text/javascript' src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- http://stackoverflow.com/questions/9532595/what-is-the-best-way-to-hide-the-screen-while-knockout-js-bindings-are-being-bui -->
    <div class="container">
        <br>
    <div class="well">

        <div class="form-group text-center">
            <h2>Order your recipe!</h2>
        </div>

        <!-- <h2>Current price: <span data-bind="text: current_price"></span></h2> -->
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Fermentables</h2></div>
            <div class="panel-body">
                <div class="form-group" data-bind="foreach: fermentables">
                    <select id="fermentable-variety-select" style="width:100%" data-bind="if: true, value: catalog_id">
                        <option value="-"> -</option>
                        <!-- ko foreach: fermentables_options -->
                        <optgroup data-bind="attr: {label: category}">
                            <!-- ko foreach: fermentables -->
                            <option data-bind="value: $data.catalog_id, text: $data.name + ' -- ' + $data.price.toFixed(2)"></option>
                            <!-- /ko -->
                        </optgroup>

                        <!-- /ko -->
                    </select>

                    <label>Milling preference: </label>
                    <select data-bind="options: $root.milling_preferences, value: milling_preference"></select>

                    <br>
                    <label>Quantity:</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        data-bind="value: quantity"
                        class="form-control"
                        maxlength="6">

                    <button class="btn btn-danger"
                        href="#"
                        data-bind="click: function() { $root.removeItem($data, 'fermentables') }">
                        Delete
                    </button>
                    <hr/>
                </div>
                <input class="btn btn-primary" data-bind="click: function() { $root.addItem('fermentables') }" type="button"
                       value="Add Fermentable"/>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading"><h2 class="">Yeast</h2></div>
                <div class="panel-body">
                    <div data-bind="foreach: yeasts">
                        <label>Yeast Brand Filter:</label>
                        <select data-bind="options: yeast_categories, value: current_filter" id="yeast-brand-select">
                        </select>
                        <span>Yeast Variety:</span>
                        <select id="yeast-variety-select" style="width:325px" data-bind="if: true, value: catalog_id">
                            <option value="-"> -</option>
                            <!-- ko foreach: yeast_groups_individual -->
                            <optgroup data-bind="attr: {label: category}">
                                <!-- ko foreach: yeasts -->
                                <option data-bind="value: $data.catalog_id, text: $data.name + ' -- ' + $data.price.toFixed(2)"></option>
                                <!-- /ko -->
                            </optgroup>
                            <!-- /ko -->
                        </select>

                        <label>Quantity:</label>
                        <input type="text"
                            oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                            data-bind="value: quantity"
                            class="form-control"
                            maxlength="6">

                        <a href="#" data-bind="click: function() { $root.removeItem($data, 'yeasts') }">Delete</a>
                        <br><br>
                    </div>
                    <input class="btn btn-primary" data-bind="click: function() { $root.addItem('yeasts') }" type="button"
                           value="Add Yeast"/>
                </div>
            </div>

        <div class="panel panel-default">
            <div class="panel-heading"><h2 class="">Hops</h2></div>
            <div class="panel-body">
                <div data-bind='foreach: hops'>
                    <select id="hops-variety-select" class="form-control" data-bind="if: true, value: catalog_id">
                        <option value="-"> -</option>
                        <!-- ko foreach: hops_options -->
                        <optgroup data-bind="attr: {label: category}">
                            <!-- ko foreach: hops -->
                            <option data-bind="value: $data.catalog_id, text: $data.name + ' -- ' + $data.price.toFixed(2)"></option>
                            <!-- /ko -->
                        </optgroup>
                        <!-- /ko -->
                    </select>
                    <label>Quantity:</label>
                    <input type="text"
                        oninput="this.value = this.value.replace(/[^0-9]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                        data-bind="value: quantity"
                        class="form-control"
                        maxlength="6">

                    <!-- to hide button when only 1 item is left, do:
                    visible: $root.hops.countVisible() > 1 -->
                    <button class="btn btn-danger"
                        href="#"
                        data-bind="click: function() { $root.removeItem($data, 'hops') }">
                        Delete
                    </button>
    <hr/>
                </div>

                <input class="btn btn-primary" data-bind="click: function() { $root.addItem('hops') }" type="button"
                       value="Add Hop"/>
            </div>

        <div class="form-group">
            <textarea data-bind="value: notes" id="notes-input" style="width: 300px; height: 150px;" placeholder="Write any extra notes here..." style="resize: both;"></textarea>
        </div>
        <div class="form-group">
            <!-- <button class="btn btn-success" data-bind="click: saveRecipeData">Save recipe</button> -->
            <button class="btn btn-success" data-bind="click: add_to_cart_test">Add to cart</button>
        </div>
    </div>
        <br>
    </div>
    <script type='text/javascript' src="{% static "main/javascripts/app.js" %}"></script>
</body>
